@import "../../styles/_mixins";

.cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;


    // @include md {
    // }

    @include lg {
        flex-direction: row;
    }
}
