---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar";
import Header from "../components/Header/Header";
import Footer from "../components/Footer/Footer";
import Button from "../components/Button/Button";
import Main from "../components/Pages/Index/Main";
import "./index.scss";
---

<Layout title="Pakukuljetus">
    <Navbar client:load />
    <Header />
    <Main></Main>
    <Footer />
</Layout>
