---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.jsx';
import Cards from '../components/Cards/Cards.jsx';
import Description from '../components/Description/Description.jsx';
import './index.scss';
---

<Layout title="Pakukuljetus">
    <nav>Nav</nav>
    <Header/>
    <main>
        <Cards />
        <Description />
    </main>
    <footer>
        <div class="container">
            <section>
                Footer
            </section>
        </div>
    </footer>
</Layout>
