---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.jsx';
import './index.scss';
---

<Layout title="Pakukuljetus">
    <nav>Nav</nav>
    <Header/>
    <main>
        Main
        <div class="container bg-alt">
            <section>
                Card Section
            </section>
        </div>
        <div class="container">
            <section>
                Text Section
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <section>
                Footer
            </section>
        </div>
    </footer>
</Layout>
