header {
    margin: 0;
    border-radius: 0 0 0 100px;
    background: var(--color-bg-alt);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative; 
    overflow: hidden;

    h1 {
        color: white; 
        margin: 0; 
    }

    p {
        color: white; 
        margin: 0; 
    }

    > .container {

        > section {

        }
    }
}

.bg__box1 {
    position: absolute;
    width: 447px;
    height: 375px;
    left: -200px;
    top: 15px;

    background: rgba(255, 255, 255, 0.07);
    border-radius: 50px;
    transform: rotate(-45deg);
}

.bg__box2 {
    position: absolute;
    width: 447px;
    height: 375px;
    left: -170px;
    top: 300px;

    background: rgba(255, 255, 255, 0.04);
    border-radius: 50px;
    transform: rotate(-45deg);
}
